<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestTaskRW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />

</head>
<body style="background:linear-gradient(#033985, #4173c4, #f78c20)">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#033985">
            <div class="container">
                <a class="navbar-brand text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">TestTaskRW</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Транспортно-экспедиционная деятельность</a>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group dropright">
                                <button type="button" class="btn dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Договоры
                                </button>
                                <div class="dropdown-menu" style="background-color: #f78c20">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Contract" asp-action="">По Клиентам</a>
                                    @*<a class="nav-link text-white" asp-area="" asp-controller="Contract" asp-action="Agent_Contracts">По Агентам</a>*@
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white disabled" asp-area="" asp-controller="Home" asp-action="">Платежи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white disabled" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TestTaskRW @* - 
            <a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a> *@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
